<%- include("header") -%>

<!-- search bar and filter -->
<form class="item" action="/filter" method="post">
    <div class="search-bar-and-filter">
        <div class="search-bar">
            <input type="text" name="countryName" value="<%=searchCountryName%>" autocomplete="off"
                placeholder="Search for a country...">
            <button type="submit" name="region" value=""><i class="fas fa-search"></i></button>

        </div>
        <div class="filter">
            <div class="filter__dropdown_face">
                <div class="dropdown__text">Filter by Region</div>
                <i class="fas fa-angle-down"></i>
            </div>
            <div class="dropdown__items">
                <button type="submit" name="region" value="Africa">Africa</button>
                <button type="submit" name="region" value="Americas">Americas</button>
                <button type="submit" name="region" value="Asia">Asia</button>
                <button type="submit" name="region" value="Europe">Europe</button>
                <button type="submit" name="region" value="Oceania">Oceania</button>
            </div>
        </div>
    </div>
</form>
<!-- country list -->
<div class="container" id="container">

    <% matchedCountries.forEach(country => { %>
    <form action="/detail" method="post">
        <div class="country item">
            <button type="submit"  class="country__flag" name="detailCountry"
            value="<%= country.name %>" onclick="this.form.submit()">
                <img src="<%= country.flag%>" alt="flag" class="country__flag__img" >
            </button>
            <div class="country__info">
                <h3 class="country__name"><%= country.name %></h3>
                <p><strong>Population: </strong><%= country.population %> </p>
                <p><strong>Region: </strong><%= country.region %></p>
                <p><strong>Capital: </strong><%= country.capital %> </p>
            </div>
        </div>
    </form>
    <% }) %>


</div>


<%- include("footer") -%>