<%- include("header") -%>
<%- include("search") -%>

<!-- country list -->
<div class="container" id="container">

    <% matchedCountries.forEach(country => { %>
    <form action="/detail" method="post">
        <div class="country item">
            <button type="submit"  class="country__flag" name="detailCountry"
            value="<%= country.cca3 %>" onclick="this.form.submit()">
                <img src="<%= country.flag%>" alt="flag" class="country__flag__img" >
            </button>
            <div class="country__info">
                <h3 class="country__name"><%= country.name %></h3>
                <p><strong>Population: </strong><%= country.population %> </p>
                <p><strong>Region: </strong><%= country.region %></p>
                <p><strong>Capital: </strong><%= country.capital %> </p>
                <p><strong>Independent: </strong><%= country.independent %> </p>
            </div>
        </div>
    </form>
    <% }) %>


</div>


<%- include("footer") -%>